/*
FondoConsola: #dbc9ac;
SombraConsola: #ecd0ac;
SombraConsola2: #744b24;
MarcoConsola: #9b141f;
LineaConsola: #96041d;
SonbraMarco: #c43744;
BotonesAB: #cd3141;
SombraBotonesAB: #910318;
BotonesStart/Select: #abaaa8;
Cruceta: #212325;
SombraCruceta: #121415;
*/