/*
FondoConsola: #dbc9ac;
SombraConsola: #ecd0ac;
SombraConsola2: #744b24;
MarcoConsola: #9b141f;
LineaConsola: #96041d;
SonbraMarco: #c43744;
BotonesAB: #cd3141;
SombraBotonesAB: #910318;
BotonesStart/Select: #abaaa8;
Cruceta: #212325;
SombraCruceta: #121415;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Creamos una capa de fondo "invisible" width= 100% y height= 100vh ocupa toda la pantalla */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    height: 100vh;
}

/* Rectángulo de la consola */

.rectangle {
    position: relative;
    width: 100vmin;
    height: 50vmin;
    background: #9b141f;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
    border-radius: 1vmin;
    box-shadow: 0px 0px 5px  #c43744, 0px 0px 5px  rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 0px 4px  #000, 0px 0px 6px  rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.rectangleConsole {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 98vmin;
    height: 45vmin;
    background: #dbc9ac;
    background: linear-gradient(179deg, rgba(218,200,172,1) 0%, rgba(203,186,149,1) 20%, rgba(233,219,191,0.9275911048012955) 100%, rgba(223,210,174,1) 100%);
    border-radius: 1vmin;
    /* box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 0px 3px  #000, 0px 0px 3px  rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

/* Logo (es una imagen) */

.logo {
    position: absolute;
    width: 11vmin;
    height: 11vmin;
    z-index: 1;
    left: 6vmin;
    top: 6vmin;
    background-size: 100%;
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
}

/* Creamos la parte de la pantalla
Añadimos una imagen estática del juego
*/

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 49vmin;
    height: 40vmin;
    background: #e2d0b4;
    border-radius: 1vmin ;
    box-shadow: 0px 0px 8px 8px #ecd0ac, 0px 0px 8px 10px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.2), inset 0px 0px 3px rgba(255,255,255,.4);
}

.screenInside {
    position: absolute;
    width: 47vmin;
    height: 32vmin;
    border-radius: 2vmin;
    background-color: #9b141f;
    /* box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 0px 2px 4px #96041d, 0px 0px 2px 4px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.2), inset 0px 0px 3px rgba(255,255,255,.4);
}

.imagen {
    position: absolute;
    width: 44vmin;
    height: 30vmin;
    background-image: url(/screenpng.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    width: 50vmin;
    height: 38vmin;
    background-color: transparent;
    text-align: center;
    top: 1vmin;
}

.nintendo {
    position: absolute;
    width: 12vmin;
    height: 30vmin;
    background-color: transparent;
    text-align: center;
    top: 32vmin;
    background-size: 100%;
    background-image: url(/img/nintendo-logo.png);
    background-repeat: no-repeat;
}

/* Botones A y B */

.buttons2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 10vmin;
    right: 1vmin;
    top: 30vmin;
}

.buttonB {
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    background-color: #cd3141;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 4px #910318, 0px 0px 2px 4px rgba(0,0,0,.7), inset 0px 1px 0px rgba(255,255,255,.2), inset 0px 0px 3px rgba(255,255,255,.4);
    border: solid 1px;
    left: 1vmin;
}

.buttonA {
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    background-color: #cd3141;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 4px #910318, 0px 0px 2px 4px rgba(0,0,0,.7), inset 0px 1px 0px rgba(255,255,255,.2), inset 0px 0px 3px rgba(255,255,255,.4);
    border: solid 1px;
    right: 1vmin;
}

.letraB {
    position: absolute;
    width: 2vmin;
    height: 2vmin;
    top: 9vmin;
    left: 2.5vmin;
    font-weight: bold;
}

.letraA {
    position: absolute;
    width: 2vmin;
    height: 2vmin;
    top: 9vmin;
    right: 2vmin;
    font-weight: bold;
}

/* Parte de arriba 3 botones  */

.buttons1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 20vmin;
    right: 1vmin;
    top: 2vmin;
}

.game {
    position: absolute;
    width: 4vmin;
    height: 2vmin;
    background-color: #abaaa8;
    border-radius: 100px / 60px;
    box-shadow: 0px 0px 2px 4px #910318, 1px 1px 5px 4px rgba(0,0,0,.3), inset 10px 3px 5px rgba(0,0,0,.3), inset 5px 3px 5px rgba(232, 232, 232, 1);
    border: solid 1px;
    top: 1vmin;
    left: 1vmin;

}

.textoGame {
    position: absolute;
    width: 2vmin;
    height: 2vmin;
    top: 4vmin;
    left: 1.4vmin;
    font-weight: bold;
    font-size: x-small;

}

.time {
    position: absolute;
    width: 4vmin;
    height: 2vmin;
    background-color: #abaaa8;
    border-radius: 100px / 60px;
    box-shadow: 0px 0px 2px 4px #910318, 1px 1px 5px 4px rgba(0,0,0,.3), inset 10px 3px 5px rgba(0,0,0,.3), inset 5px 3px 5px rgba(232, 232, 232, 1);
    border: solid 1px;
    top: 6vmin;
    left: 1vmin;
}

.textoTime {
    position: absolute;
    width: 2vmin;
    height: 2vmin;
    top: 9vmin;
    left: 1.4vmin;
    font-weight: bold;
    font-size: x-small;
}

.pause {
    position: absolute;
    width: 4vmin;
    height: 2vmin;
    background-color: #abaaa8;
    border-radius: 100px / 60px;
    box-shadow: 0px 0px 2px 4px #910318, 1px 1px 5px 4px rgba(0,0,0,.3), inset 10px 3px 5px rgba(0,0,0,.3), inset 5px 3px 5px rgba(232, 232, 232, 1);
    border: solid 1px;
    top: 11vmin;
    left: 1vmin;
}

.textoPause {
    position: absolute;
    width: 2vmin;
    height: 2vmin;
    top: 14vmin;
    left: 0.5vmin;
    font-weight: bold;
    font-size: x-small;
}

/* Cruceta: No me quedaba muy bien con CSS y he metido un SVG 😪 */

.cross-pad {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vmin;
    height: 15vmin;
    left: 4vmin;
    top: 26vmin;
    background-image: url(/img/ButtonIcon-N64-D-Pad.svg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(1px 5px 2px  #9b141f);
    filter: drop-shadow(1px 5px 2px  #9b141f);
}

